.deleteBtn {
    color: red;
    text-align: center;
    border: 1px solid red;
    border-radius: 50%;
    background-color: #041b33;
    box-shadow: 5PX 5PX 10PX BLACK;
    padding: 7px 10px;

}

.gap {
    padding-bottom: 200px;
}

.buttondesign2 {
    text-decoration: none;
    font-size: 19px;
    text-align: end;
    color: rgb(86, 185, 78);
    border: 1px solid rgb(86, 185, 78);
    padding: 3px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    text-shadow: 5px 5px 10px black;

}


.button-setup2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    ;
}

.buttondesign2:hover {
    color: white;
    border: 1px solid white;
}